<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <link rel="css/stylesheet" href="./lib/css/bootstrap.min.css">-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cerulean/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <title><% title%></title>
</head>
<body>
<div class="container-fluid">
    <div class="row headerTitle">
        <div class="col-md-3"><input class="btn btn-default text-muted lookupSwitchBtn" type="button" value="Switch to DNS Lookup" onclick=""></div>
        <h2 class="text-center text-muted col-md-6">REVERSE DNS LOOKUP SERVICE</h2>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <h3 class="well titleText col-md-6 text-center text-danger">Your private IP Address is : <%= currIPAddr%></h3>
        <div class="col-md-3"></div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <form action="resolvehostname" accept-charset="utf-8" method="post" target="_self">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 text-primary text-center customTxt"><span>Enter Domain Name</span><br>
                        <input type="text" name="domainName" placeholder="domain name..." class="form-control well"></input>
                    </div>
                    <div class="col-md-3"></div>
                </div>
                <input type="submit" class="btn btn-danger center-block lookupBtn" value="Click to lookup hostname(s)"></input>
            </form>
            <div class="row">
                <h3 class="text-center text-warning">IP Address corresponding to Domain Name(s)</h3>
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="well">
                        <ul class="list-group lookUpLists">
                            <%
                            for(var i=hostnames.length-1; i >= 0; i-- ){
                            if(hostnames[i].error){
                            %>
                            <strong><li class="list-group-item-danger" style="list-style: none"><%= hostnames[i].error.message%></li></strong>
                            <li class="list-group-item-danger well" style="list-style: none"></li>
                            <%
                            }else{
                            %>
                            <li class="list-group-item-info"><strong>Domain Name :</strong> <%= hostnames[i].domainName%></li>
                            <li class="list-group-item-danger well" style="list-style: none"></span><span class="p"><strong>IP Address :</strong> </span> <%= hostnames[i].ipAddresses%></li>
                            <%
                            }
                            }
                            %>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>
<script src="../../lib/js/jquery-3.2.1.min.js"></script>
<script src="../../lib/js/tether.min.js"></script>
<script src="../../lib/js/bootstrap.min.js"></script>
</body>
</html>